body{
	background-color: #000000;
	color: #F0F0F0;
	font-family: sans-serif;
	margin: 0px;
	width: 90%;
	margin: auto;
	font-weight: 400;
	font-size: 14pt;
	max-width: none;
}

nav{
	height: 80px;
	width: 100%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 500;
	font-size: 20pt;
}

nav a, nav a:link, nav a:visited, nav a:hover, nav a:active{
	color: #F0F0F0;
	text-decoration: none;
}

hr{
	border: 0;
	border-bottom: 1px dashed #F0F0F0;
	background: #000000;
}

div.bio{
	display: inline-block;
	max-width: 100%;
}
@media only screen and (min-width: 600px){
	div.bio{
		max-width: 600px;
	}
}

div.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 20px;
}

div.card {
	background-color: #101010;
	border: 1px solid #505050;
	padding: 20px;
	box-sizing: border-box;
}

a, a:link, a:visited, a:hover, a:active{
	color: #F0F0F0;
}

.small{
	font-size: 12pt;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 400;
	margin-top: 6px;
	margin-bottom: 4px;
}
h1{
	margin-top: 20px;
	font-weight:  600;
	font-size: 32pt;
}
h2{
	font-size: 28pt;
}
h3{
	font-size: 26pt;
}
h4{
	font-size: 24pt;
}
h5{
	font-size: 22pt;
}
h6{
	font-size: 20pt;
}

pre{
	max-width: 100%;
	overflow-x: auto;
}
pre *{
	overflow-x: auto;
	width: 100%;
	display:  block;
}
code{
	background-color: #282A36;
}

table{
	width: 100%;
	margin: auto;
	max-width: 100%;
	table-layout: fixed;
	word-break: break-word;
}

th, td{
	text-align: left;
	padding: 5px;
	margin: auto;
}

*{
	box-sizing: border-box;
	border-radius: 5px;
}
