{% extends "base.html" %}

{% block content %}
<div class="bio">
	<h1> Hi, I'm Nafees </h1>
	<p>
		I am a software engineer, with a focus on backend development and systems
		programming. I primarily work with <a href="https://dlang.org">D</a>,
		C#, Go, and Python.
	</p>
	<p>
		I currently work at
		<a href="https://www.linkedin.com/company/wizient-llc">Wizient</a>
		as a <em>Data and Integration Engineer</em>.
	</p>
	<p>
		In my free time, I work on
		<a href="https://alis-lang.nafees.dev">Alis Language</a> and other
		personal projects.
	</p>
	<p> My interests are: </p>
	<ul>
		<li> backend systems </li>
		<li> compiler construction </li>
		<li> programming language design </li>
	</ul>

	<h1> Contact Me </h1>
	<ul>
		<li>
			GitHub: <a href="https://github.com/Nafees10/"> @Nafees10 <a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/nafees-hassan/"> LinkedIn <a>
		</li>
		<li>
			E-Mail: <a href="mailto:nafees@nafees.dev"> nafees@nafees.dev </a>
		</li>
		<li>
			Resume: <a href="/resume"> Download </a>
		</li>
	</ul>
</div>
<hr>

<h1> Projects </h1>
<div class="cards">
	<div class="card">
		<b> <a href="https://alis-lang.nafees.dev"> Alis Language </a> </b>
		<p>
			Statically typed embeddable programming language with powerful
			metaprogramming capabilities.
		</p>
	</div>
	<div class="card">
		<b> <a href="https://github.com/Nafees10/navm"> NaVM </a> </b>
		<p>
			Library for quickly building virtual machines with custom
			instruction sets.
		</p>
	</div>
	<div class="card">
		<b> <a href="https://github.com/Nafees10/slowtable"> slowtable </a> </b>
		<p>
			Tools for parsing university timetables, filtering courses, and
			generating optimal class schedules.
		</p>
	</div>
	<div class="card">
		<b> <a href="https://github.com/Nafees10/qui"> qui </a> </b>
		<p>
			Library for building Text User Interfaces (TUIs) in D.
		</p>
	</div>
	<div class="card">
		<b> <a href="https://github.com/Nafees10/1806">
				Interception Tools Plugins </a> </b>
		<p>
			Set of plugins for <em>Interception Tools</em> for remapping keys on
			Linux to make typing easier and faster.
		</p>
	</div>
</div>
<hr>

<h1> Recent Posts </h1>

<ul>
{% set blog = get_section(path="blog/_index.md") %}
{% for page in blog.pages | slice(end=5) %}
<li>
	<a href="{{ page.permalink }}"> {{ page.title }} </a>
</li>
{% endfor %}
</ul>

<a href="/blog"> Older Posts </a>

{% endblock content %}
